@media only screen and (max-width: 590px){
    .TechBlog {
        padding: 90px 20px 0 20px;
    }
    .TechBlog_title {
        padding: 20px 0;
    }
}
@media only screen and (min-width: 590px){
    .TechBlog {
        padding: 40px 40px 40px 220px;
    }
    .TechBlog_title {
        margin-bottom: 20px;
    }
}