@media only screen and (max-width:590px){
    .ArticleContainerFeatured {
        font-size: 14pt;
        font-weight: 400;
        width: 100%;
        padding: 20px 0 60px 0;
        border-top: 1px solid #3A363A;
    }
}


@media only screen and (min-width:590px){
    .ArticleContainerFeatured {
        font-size: 12pt;
        font-weight: 400;
        width: 100%;
        padding: 20px 0 60px 0;
        border-top: 1px solid #3A363A;
    }
}