

.ArticleContainer {
    font-weight: 400;
    width: 100%;
    padding: 20px 0 60px 0;
    border-top: 1px solid #3A363A;
}
    .ArticleContainer_more{
        margin: 20px 0 0 0;
        padding: 10px 0;
        background: rgba(255, 255, 255, 0.1);
        text-align: center;
        user-select: none;
    }
    @media (hover: hover) {
        .ArticleContainer_more:hover{
            background: rgba(255, 255, 255, 0.3);
            cursor: pointer;
        }
    
    }


@media only screen and (max-width:590px){
    .ArticleContainer {
        font-size: 14pt;
    }
}


@media only screen and (min-width:590px){
    .ArticleContainer {
        font-size: 12pt;
    }
}